<section id="panelLocation" ng-show="location.mini.active && !menuOpen" style="margin-left: 3%">
    <form role="form">
        <div class="checkbox checkbox-circle checkbox-primary">
            <input type="checkbox" id="checkbox1" ng-change="activateGeolocation()" ng-model="location.active">
            <label for="checkbox1">
                Radio {{location.radius}} mts.
            </label>
        </div>
    </form>
</section>

<div id="divMenu" ng-show="menuOpen" class="panel panel-default" style="margin-top:2%">
    <!-- GEOLOCATION -->
    <accordion close-others="true">
        <accordion-group>
            <accordion-heading>
                <i class='fa fa-map-marker fa-lg'>&nbsp; Ubicaci&oacute;n</i>
            </accordion-heading>
            <section id="panelLocation">
                <form role="form">
                    <div class="checkbox checkbox-circle checkbox-primary">
                        <input type="checkbox" id="checkbox1" ng-change="activateGeolocation()" ng-model="location.active">
                        <label for="checkbox1">
                            <span ng-show="location.active">Activada</span>
                            <span ng-show="!location.active">Desactivada</span>
                        </label>
                    </div>
                    <div class="checkbox checkbox-circle checkbox-primary">
                        <input type="checkbox" id="checkbox2" ng-model="location.mini.active">
                        <label for="checkbox2">
                            <span ng-show="location.mini.active">Ver informaci&oacute;n al cerrar este men&uacute;</span>
                            <span ng-show="!location.mini.active">No mostrar informaci&oacute;n al cerrar este men&uacute;</span>
                        </label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Metros</span>
                        <input ng-model="location.radius" type="number" step="100" required ng-change="changeMeters()" class="form-control"></input>
                    </div>
                    <br/>
                    <p>
                        Permite usar la ubicaci&oacute;n provista por el dispositivo o navegador. La b&uacute;squeda se realiza dentro de un c&iacute;rculo,
                        con el radio expresado en metros y con su ubicaci&oacute;n como centro del mismo.
                    </p>
                </form>
            </section>
        </accordion-group>
    </accordion>
    <!-- ACERCA DE -->
    <accordion close-others="true">
        <accordion-group>
            <accordion-heading>
                <i class='fa fa-info fa-lg'>&nbsp; Acerca de ...</i>
            </accordion-heading>
            <section id="panelLocation">
                Version 0.0.0
            </section>
        </accordion-group>
    </accordion>
</div>
